.topbar {
  display: grid;
  grid-template-rows: 65px;
  background-color: lightcyan;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin: 0 70px 0 70px;
  justify-content: end;
  align-items: center;
  border-bottom: 3px solid #c0c0c0;
}

.bookmark-star {
  width: 25px;
  padding-right: 10px;
}
