.span-breadcrumb {
  font-size: 1.2em;
  color: #46474f;
  line-height: 25px;
}

span.span-favorites {
  background: url("../images/plain.svg") 0 2px / 14px 14px no-repeat;
  background-size: 18px;
  padding-left: 20px;
  font-size: 1.2em;
  color: #91939d;
  margin-left: 25px;
  display: inline-flex;
  align-items: center;
}

span.span-favorites img {
  margin-left: 20px;
  width: 20px;
}
