.grid-container-col {
  background-color: lightcoral;
  height: 930px;
}

.sidenav-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 230px;
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: #575757;
  font-size: 20px;
  margin-left: 25px;
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.favorites {
  margin-bottom: 15px;
}

.people {
  margin-bottom: 15px;
}

.policies {
  margin-bottom: 15px;
}
