.container {
  height: 980px;
  background-color: #fdfdfd;
  width: 1150px;
  margin: 0 auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.grid-container-row {
  display: grid;
  grid-template-rows: auto;
  background-color: lightcyan;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 65px;
}

.grid-container-col {
  display: grid;
  grid-template-columns: [first] 340px [second] 810px;
  background-color: lightcoral;
  width: 340px;
  height: 900px;
  padding-top: 15px;
}

.sidenav-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 230px;
}

a {
  text-decoration: none;
  color: #575757;
  font-size: 20px;
  margin-left: 25px;
}
