body {
  background-color: #e5e5e5;
  font-family: BlinkMacSystemFont, sans-serif;
}

.App {
  height: 100%;
  background-color: #788aee;
  width: 1302px;
  margin: 0 auto;

  margin-top: 60px;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 44px;
  margin-left: 70px;
  cursor: pointer;
  width: 140px;
  margin-top: 30px;
}
.grid-logo1 {
  height: 33px;
  align-self: start;
}
img.logo-1 {
  height: 30px;
}
.grid-logo2 {
  align-self: center;
}
img.logo-2 {
  padding-left: 20px;
  height: 35px;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(1, 30% 70%);
  height: 100%;
  margin: 0 70px 0 70px;
  background-color: #fdfdfd;
}
.grid-sidebar {
  border-right: 2px solid #efeff1;
}
