body {
  background-color: #e5e5e5;
}

.App {
  height: 100%;
  background-color: #788aee;
  width: 1282px;
  margin: 0 auto;
  padding-top: 60px;
  margin-top: 60px;
}

.logo {
  height: 60px;
  margin-left: 70px;
}

.logo-2 {
  padding-left: 20px;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(1, 25% 75%);
  height: 100%;
  margin: 0 70px 0 70px;
  background-color: #fdfdfd;
}
